<h3><i class="fas fa-blog"></i> MyStories</h3>
{{!-- section is a materialize class --}}
<div class="section">
    <p class="login-title"> Publish your stories and get the audience you deserve</p>
</div>
{{!-- divider is a materialize class to create a border --}}
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn purple darken-3">
        <i class="fab fa-google  left"></i>Log in with Google</a>
</div>